[user]
  name = Anne Simmons
  email = annejsimmons@gmail.com
[alias]
  co = checkout
  ci = commit
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = /Users/annejsimmons/.gitignore
  editor = vim 
[apply]
  whitespace = nowarn
[credential]
  helper = osxkeychain
[github]
	user = annejsimmons
